<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1064789094444-jvoh7f4is5iupiekc3gl0ice42g429j7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064789094444-jvoh7f4is5iupiekc3gl0ice42g429j7</string>
	<key>API_KEY</key>
	<string>AIzaSyCbyUNmYZSO39UxTriuXHcA1_i8-nawDhg</string>
	<key>GCM_SENDER_ID</key>
	<string>1064789094444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Kevinhall.Socult</string>
	<key>PROJECT_ID</key>
	<string>socult-f2f4f</string>
	<key>STORAGE_BUCKET</key>
	<string>socult-f2f4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064789094444:ios:a4f4ad0bda9fbcd8</string>
	<key>DATABASE_URL</key>
	<string>https://socult-f2f4f.firebaseio.com</string>
</dict>
</plist>