<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCWqbCRDDUCacOQVv4B5hfDghVpprZVs6s</string>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>329287309230-4iavub532uah4ocveeojd7ong38dc709.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329287309230-4iavub532uah4ocveeojd7ong38dc709</string>
	<key>GCM_SENDER_ID</key>
	<string>329287309230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Kevinhall.Quo</string>
	<key>PROJECT_ID</key>
	<string>quo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>quo-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:329287309230:ios:86d3f5b0084fa287</string>
	<key>DATABASE_URL</key>
	<string>https://quo-app.firebaseio.com</string>
</dict>
</plist>
